# Method I used to use
# *.toml text eol=lf

# Method found in the Packwiz template repository
# Disable Git line ending conversion, to prevent packwiz index hashes changing when committing from Windows
* -text